<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="{% static 'main_page/favicon.ico' %}" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobians.ai maintenance page</title>
    <style>
        body {
            background-color: #2fa5e9;
        }
    </style>
</head>

<body>
    <h1>The site is currently undergoing maintenance. </h1>
    <h2><p>A new model is being trained and improvements are being made to the back-end infrastructure to improve image generation speed and stability.</p>
    <p>This should take a few days.</p></h2>

    <p class="mb-0">
        I'm hoping to be able to keep this site up as long as I'm financially able to, but as the site grows
        more popular it will be hard to keep up with GPU demand and server cost,
        so any support is greatly appreciated!
      </p>
      <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
      <iframe id='kofiframe' src='https://ko-fi.com/mobians/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;padding:4px;background:#f9f9f9;' height='712' title='mobians' display="inline-block"></iframe>
      <iframe src="https://discord.com/widget?id=1095514548112461924&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

      <p></p>Want to support the website as well as future model development? <a href="https://ko-fi.com/mobians">https://ko-fi.com/mobians</a>

        <p></p>Join the discord for model updates, share images, and chat! Special thanks to "Mecha from the '80s" and "RinMaru" for helping gather training images!</p>


    <P>In the meantime, enjoy this AI-generated video of Sonic dancing</P>

    <video autoplay loop muted playsinline>
        <source src="{% static 'maintenance_page/sonic_morph.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</body>

</html>