<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4467857259742793"
     crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <title>The best Sonic OC generator </title>
  <style>
    .small-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }


    .image-container {
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .image-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-left: 20%;

      height: 768px;
      width: 512px;
      box-sizing: border-box;
      border: 1px solid #3880ec;
      border-radius: 10px;
      background-color: #3880ec;
      position: static;
      gap: 4px;
      overflow: hidden;
      gap: 0;
    }

    @media (max-width: 1200px) {
      .content-container {
        flex-direction: column;
        /* Add this */
      }

      .image-container {
        flex-grow: 1;
        width: 100%;
      }

      .input-button-container {
        width: 100%;
        margin-top: 20px;
        flex-grow: 1;
        margin: auto;
      }

      .image-grid-mobile {
        width: 1024px;
        height: 1536px;
        max-width: max-content;
        max-height: max-content;
        aspect-ratio: 1 / 1;
        margin-left: 0%;
      }

      .col-md-12 {
        margin-left: 0%;
        left: 0;
        right: 0;
      }
    }

    #generated-images {
      display: flex;
      align-items: top;
      justify-content: top;
      padding: 0 20px;
      box-sizing: border-box;
    }

    .center-element {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }

    body {
      background-color: #2fa5e9;
    }

    #prompt-input-box {
      align-items: flex-start;
      justify-content: top;
      padding-left: 10px;
      padding-bottom: 10px;
    }

    .content-container {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    #advanced-options {
      padding-left: 10px;
    }

    .input-button-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 5in;
      padding-left: 10px;
    }

    .w-200 {
      width: 200%;
    }

    #loading-container {
      position: relative;
      top: 50%;
      left: 50%;
      text-align: center;
      z-index: 1;
    }

    .card {
      background-color: #3880ec;
      border: 0;
    }

    .card-body {
      background-color: #2fa5e9;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#"> Mobians.AI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </nav>
  <p></p>

  <!-- Image box for generations -->
  <div class="content-container">
    <div class="image-grid image-container image-grid-mobile">
      <!-- Loading container -->
      <div id="loading-container" class="d-none">
        <!-- Loading bar -->
        <div id="loading-bar">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Generating images...</span>
          </div>
          <!-- Position in queue -->
          <div id="queue-position"></div>
        </div>
      </div>

      <img id="img-top-left" src="" class="small-image" alt="Image goes here" onerror="this.style.display='none'">
      <img id="img-top-right" src="" class="small-image" alt="Image goes here" onerror="this.style.display='none'">
      <img id="img-bottom-left" src="" class="small-image" alt="Image goes here" onerror="this.style.display='none'">
      <img id="img-bottom-right" src="" class="small-image" alt="Image goes here" onerror="this.style.display='none'">
    </div>

    <!-- Prompt input box and advanced options button -->
    <div class="input-button-container">
      <div id="prompt-input-box" class="input-group">
        <input type="text" class="form-control" placeholder="Enter Prompt" aria-label="Enter Prompt"
          aria-describedby="button-addon2" id="prompt-input">
        <button class="btn btn-primary" type="button" id="button-addon2">Generate!</button>

        <div class="form-floating">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
            onchange="changeAspectRatio()">
            <option selected></option>
            <option value="1">Landscape</option>
            <option value="2">Square</option>
            <option value="3">Portrait</option>
          </select>
          <label for="floatingSelect">Image aspect-ratio</label>
        </div>
      </div>

      <div id="advanced-options">
        <button class="btn btn-primary dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          Advanced Options
        </button>
        <div class="collapse w-200" id="collapseExample">
          <div class="card card-body">
            <!-- Negative Prompt -->
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Negative Prompt</label>
              <input type="text" class="form-control" id="formGroupExampleInput"
                placeholder="(worst quality, low quality, normal quality:1.4), bad anatomy, bad body, bad feet, bad hands, bad proportions, blurry, cropped, cross-eyed, deformed, error, extra arms, extra digit, extra fingers, extra legs, extra limbs, extra digit, fewer digits, fused fingers, gross proportions, jpeg artifacts, long neck, long body, lowres, malformed limbs, missing arms, missing fingers, missing legs, mutated hands, mutation, polar lowres, poorly drawn face, poorly drawn hands, signature, text, too many fingers, username, watermark,red salive, blood, bad_prompt_version2">
            </div>

            <!-- Seed -->
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Seed </label>
              <input type="text" class="form-control" id="seedInput" placeholder="-1">
            </div>

            <!--CFG-->
            <label for="customRange1" class="form-label">CFG: <span id="cfg-value">7</span></label>
            <input type="range" class="form-range" min="0" max="14" id="customRange1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FAQ Section -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 ">
        <h2 class="mb-4">FAQ</h2>
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              What are some tips for good images?
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">Make sure to include their full name when generating
              for best results! EX: Sonic -> 'Sonic the hedgehog', Tails -> 'Tails the fox'. The model was trained on
              booru tags, using them allow you specify your prompt much more.</p>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h5 class="mb-0">
              What characters can I generate?
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">Curent list is as follows.

            <div class="row">
              <div class="col col-md-4">
                <ul>
                  <li>Sonic the hedgehog</li>
                  <li>Amy Rose</li>
                  <li>Tails the fox</li>
                  <li>Knuckles the echidna</li>
                  <li>Rouge the bat</li>
                  <li>Sticks the badger</li>
                  <li>Marine the Raccoon</li>
                  <li>Jet the hawk</li>
                </ul>
              </div>
              <div class="col col-md-4">
                <ul>
                  <li>Whisper the wolf</li>
                  <li>Silver the hedgehog</li>
                  <li>Blaze the cat</li>
                  <li>Vanilla the rabbit</li>
                  <li>Cream the rabbit</li>
                  <li>Charmy the bee</li>
                  <li>Espio the chameleon</li>
                  <li>Vector the crocodile</li>
                </ul>
              </div>
              <div class="col col-md-4">
                <ul>
                  <li>Shadow the hedgehog</li>
                  <li>Sally Acorn</li>
                  <li>Tangle the lemur</li>
                  <li>Mobian (Original characters in sonic style basically!)</li>
                  <li>Cosmo the seedrian</li>
                  <li>Tikal the echidna</li>
                  <li>Honey the cat</li>
                  <li>Bunnie Rabbot</li>
                </ul>
              </div>
            </div>
            </p>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h5 class="mb-0">
              What is a negative prompt?
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">A negative prompt tells the model what it should avoid including in the picture. By default
              a decent negative prompt is added to the prompt, so this should avoid being changed unless you know what
              you're doing.</p>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h5 class="mb-0">
              What is a seed?
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">By default a random seed (-1) is sent when generating an image, this means if you send the
              same prompt twice, you will get different results. If you set the seed to a specific value, you will
              countinously get the same set of images.</p>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h5 class="mb-0">
              What is CFG?
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">CFG refers to how closely a image tries to a prompt, too high values may fry images, while
              too low of a value will result in a random mess of a photo being generated. By default 7 is used but this
              can be changed to experiment with</p>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h5 class="mb-0">
              Can I run this locally on my PC?
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">Yep! Model is available to use in stable diffusion here <a
                href="https://civitai.com/models/1493">https://civitai.com/models/1493</a></p>
          </div>
        </div>
        <!-- Add more questions and answers as needed -->
      </div>
    </div>
  </div>

  </div>

  <script>
    // Allows us to see the images that are generated
    const resetImageDisplay = (imageId) => {
      const imageElement = document.getElementById(imageId);
      imageElement.style.display = 'block';
    };

    // Unhide all images
    const resetAllImageDisplays = () => {
      resetImageDisplay('img-top-left');
      resetImageDisplay('img-top-right');
      resetImageDisplay('img-bottom-left');
      resetImageDisplay('img-bottom-right');
    };

    // Hide all images
    const hideAllImages = () => {
      document.getElementById('img-top-left').style.display = 'none';
      document.getElementById('img-top-right').style.display = 'none';
      document.getElementById('img-bottom-left').style.display = 'none';
      document.getElementById('img-bottom-right').style.display = 'none';
    };

    // update image box ratio
    const changeAspectRatio = () => {
      const selectElement = document.getElementById('floatingSelect');
      const selectedOption = selectElement.options[selectElement.selectedIndex].value;
      const imageGrid = document.querySelector('.image-grid');
      const imageGrid_mobile = document.querySelector('.image-grid-mobile');
      let isMobileView = window.matchMedia('(max-width: 1200px)').matches;

      switch (selectedOption) {
        case '1':
          // Landscape
          if (isMobileView) {
            imageGrid_mobile.style.width = '1536px';
            imageGrid_mobile.style.height = '1024px';
          } else {
            imageGrid.style.width = '768px';
            imageGrid.style.height = '512px';
          }
          break;
        case '2':
          // Square
          if (isMobileView) {
            imageGrid_mobile.style.width = '1024px';
            imageGrid_mobile.style.height = '1024px';
          } else {
            imageGrid.style.width = '512px';
            imageGrid.style.height = '512px';
          }
          break;
        case '3':
          // Portrait
          if (isMobileView) {
            imageGrid_mobile.style.width = '1024px';
            imageGrid_mobile.style.height = '1536px';
          } else {
            imageGrid.style.width = '512px';
            imageGrid.style.height = '768px';
          }
          break;
        default:
          if (isMobileView) {
            imageGrid_mobile.style.width = '1024px';
            imageGrid_mobile.style.height = '1536px';
          } else {
            imageGrid.style.width = '512px';
            imageGrid.style.height = '768px';
          }
      }

      hideAllImages();
    };



    document.getElementById('customRange1').addEventListener('input', function (event) {
      document.getElementById('cfg-value').textContent = event.target.value;
    });

    // Send the request to the server for generated images
    document.getElementById('button-addon2').addEventListener('click', async function () {
      // Disable the generate button until result is returned
      document.getElementById('button-addon2').disabled = true;

      // Hide images
      hideAllImages();

      // Show loading bar
      document.getElementById("loading-container").classList.remove("d-none");
      // Fetch user's position in the queue periodically
      let queueRequestInProgress = false;
      fetchQueuePosition();
      queueInterval = setInterval(fetchQueuePosition, 500); // Fetches position every 1 seconds


      // Get the prompt from the input element
      const getImageWidth = () => {
        const selectElement = document.getElementById('floatingSelect');
        const selectedOption = selectElement.options[selectElement.selectedIndex].value;
        let imageWidth;
        switch (selectedOption) {
          case '1':
            imageWidth = 768; // Landscape
            break;
          case '2':
            imageWidth = 512; // Square
            break;
          case '3':
            imageWidth = 512; // Portrait
            break;
          default:
            imageWidth = 512;
        }
        return imageWidth;
      };

      const getImageHeight = () => {
        const selectElement = document.getElementById('floatingSelect');
        const selectedOption = selectElement.options[selectElement.selectedIndex].value;
        let imageHeight;
        switch (selectedOption) {
          case '1':
            imageHeight = 512; // Landscape
            break;
          case '2':
            imageHeight = 512; // Square
            break;
          case '3':
            imageHeight = 768; // Portrait
            break;
          default:
            imageHeight = 768;
        }
        return imageHeight;
      };
      const payload = {
        "prompt": document.getElementById('prompt-input').value,
        "steps": 20,
        "negative_prompt": document.getElementById('formGroupExampleInput').value || "EasyNegative, (worst quality, low quality, normal quality:1.4), bad anatomy, bad body, bad feet, bad hands, bad proportions, blurry, cropped, cross-eyed, deformed, error, extra arms, extra digit, extra fingers, extra legs, extra limbs, extra digit, fewer digits, fused fingers, gross proportions, jpeg artifacts, long neck, long body, lowres, malformed limbs, missing arms, missing fingers, missing legs, mutated hands, mutation, polar lowres, poorly drawn face, poorly drawn hands, pubic hair, signature, text, too many fingers, username, watermark,red salive, blood, bad_prompt_version2",
        "seed": Number(document.getElementById('seedInput').value) || -1,
        "cfg_scale": Number(document.getElementById('customRange1').value) || 7,
        "batch_size": 4,
        "save_images": true,
        "width": getImageWidth() || 512,
        "height": getImageHeight() || 768,
      }

      // Call auto1111 API
      const response = await fetch('process_json', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      });



      // Handle the API response
      if (response.ok) {
        const data = await response.json(); // Parse the JSON response
        const base64Images = data.images;

        // When the image is retrieved, hide the loading bar and queue
        document.getElementById("loading-container").classList.add("d-none");
        clearInterval(queueInterval);

        // Set the src attribute of the image elements to the base64-encoded images
        document.getElementById('img-top-left').src = 'data:image/jpg;base64,' + base64Images[0];
        document.getElementById('img-top-right').src = 'data:image/jpg;base64,' + base64Images[1];
        document.getElementById('img-bottom-left').src = 'data:image/jpg;base64,' + base64Images[2];
        document.getElementById('img-bottom-right').src = 'data:image/jpg;base64,' + base64Images[3];

        // Unhide the images and enable generate button
        resetAllImageDisplays();
        document.getElementById('button-addon2').disabled = false;
      } else {
        console.error(`Error: ${response.status}`); // Handle the error
      }

      async function fetchQueuePosition() {
        if (queueRequestInProgress) {
          return
        }

        // Set the flag to true indicating a request is in progress
        queueRequestInProgress = true;

        try {
          const response = await fetch('/get_position/');
          const data = await response.json();
          const position = data.position;
          document.getElementById("queue-position").innerText = `Position in queue: ${position}`;
        } catch (error) {
          console.error('Error fetching queue position:', error);
        } finally {
          // Set the flag to false indicating the request has completed
          queueRequestInProgress = false;
        }
      }

    });

  </script>
</body>

</html>