<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NQ1MYQTHLM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-NQ1MYQTHLM');
  </script>
  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "gezh5n3gqv");
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4467857259742793"
    crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='Sonic AI art generator, OC maker, mobian maker'>
  <title>The best Sonic OC generator </title>
  <style>
    /* Add the following styles */
    input[type="text"],
    select.form-select {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }

    .small-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .image-container {
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .image-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-left: 20%;

      height: 768px;
      width: 512px;
      box-sizing: border-box;
      border: 1px solid #3880ec;
      border-radius: 10px;
      background-color: #3880ec;
      position: relative;
      gap: 4px;
      overflow: hidden;
      gap: 0;
    }

    #generated-images {
      display: flex;
      align-items: top;
      justify-content: top;
      padding: 0 20px;
      box-sizing: border-box;
    }

    .center-element {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }

    body {
      background-color: #2fa5e9;
    }

    #prompt-input-box {
      align-items: flex-start;
      justify-content: top;
      padding-left: 10px;
      padding-bottom: 10px;
    }

    .content-container {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-top: 3%;
    }

    #advanced-options {
      padding-left: 10px;
      z-index: 1;
    }

    .input-button-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 5in;
      padding-left: 10px;
    }

    .w-100 {
      width: 200%;
    }

    #loading-container {
      position: relative;
      top: 50%;
      left: 50%;
      text-align: center;
      z-index: 1;
    }

    .card {
      background-color: #3880ec;
      border: 0;
    }

    .card-body {
      background-color: #2fa5e9;
    }

    .expanded-image {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      z-index: 10;
      transition: all 0.5s ease;
      object-fit: cover;
    }

    #close-button {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      font-size: 24px;
      cursor: pointer;
      z-index: 2;
      object-fit: none;
    }

    .FAQ {
      padding: 5vw;
    }

    @media (max-width: 1000px) {
      .content-container {
        flex-direction: column;
        padding: 0%;
      }

      .image-container {
        flex-grow: 1;
        width: 100vw;
      }

      .input-button-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        height: 20vw;
        flex-grow: 1;
        padding-left: 0;
        padding-bottom: 5%;
      }

      #prompt-input-box {
        padding-bottom: 5%;
      }

      .image-grid-mobile {
        width: 100vw;
        height: 150vw;
        max-width: max-content;
        max-height: max-content;
        aspect-ratio: 1 / 1;
        margin-left: 0%;
        margin-right: 0%;
        border: 0;
      }

      .FAQ {
        padding: 0vw;
        width: 100vw;
        padding-top: 10vh;
      }

      .row {
        width: 100vw;
      }
    }
  </style>
</head>

<body>
  <!-- <h1>Sonic AI art generator, OC generator, mobian generator</h1> -->

  <!-- Image box for generations -->
  <div class="content-container">

    <div class="image-grid image-container image-grid-mobile">
      <!-- close button -->
      <button type="button" class="btn-close" aria-label="Close" id="close-button"
        onclick="collapseImage('close-button')"></button>

      <!-- Loading container -->
      <div id="loading-container" class="d-none">
        <!-- Loading bar -->
        <div id="loading-bar">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Generating images...</span>
          </div>
          <!-- Position in queue -->
          <div id="queue-position"></div>
        </div>
      </div>

      <!-- Images -->
      <div class="image-wrapper" style="position: relative;">
        <img id="img-top-left" src="" class="small-image" alt="Image goes here" onerror="this.style.display='none'"
          onclick="expandImage('img-top-left', 'close-button')">
      </div>
      <div class=" image-wrapper" style="position: relative;">
        <img id="img-top-right" src="" class="small-image" alt="Image goes here" onerror="this.style.display='none'"
          onclick="expandImage('img-top-right', 'close-button')">
      </div>
      <div class="image-wrapper" style="position: relative;">
        <img id="img-bottom-left" src="" class="small-image" alt="Image goes here" onerror="this.style.display='none'"
          onclick="expandImage('img-bottom-left', 'close-button')">
      </div>
      <div class="image-wrapper" style="position: relative;">
        <img id="img-bottom-right" src="" class="small-image" alt="Image goes here" onerror="this.style.display='none'"
          onclick="expandImage('img-bottom-right', 'close-button')">
      </div>
    </div>


    <!-- Prompt input box and advanced options button -->
    <div class="input-button-container">
      <div id="prompt-input-box" class="input-group">
        <input type="text" class="form-control" placeholder="Enter Prompt" aria-label="Enter Prompt"
          aria-describedby="button-addon2" id="prompt-input">
        <button class="btn btn-primary" type="button" id="button-addon2">Generate!</button>
      </div>

      <div id="advanced-options">
        <button class="btn btn-primary dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          Advanced Options
        </button>
        <div class="collapse w-100" id="collapseExample">
          <label for="floatingSelect">Image aspect-ratio</label>
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
            onchange="changeAspectRatio()">
            <option value="3">Portrait</option>
            <option value="1">Landscape</option>
            <option value="2">Square</option>
          </select>

          <div class="card card-body">
            <!-- Negative Prompt -->
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Negative Prompt</label>
              <input type="text" class="form-control" id="formGroupExampleInput"
                placeholder="(worst quality, low quality, normal quality:1.4), bad anatomy, bad body, bad feet, bad hands, bad proportions, blurry, cropped, cross-eyed, deformed, error, extra arms, extra digit, extra fingers, extra legs, extra limbs, extra digit, fewer digits, fused fingers, gross proportions, jpeg artifacts, long neck, long body, lowres, malformed limbs, missing arms, missing fingers, missing legs, mutated hands, mutation, polar lowres, poorly drawn face, poorly drawn hands, signature, text, too many fingers, username, watermark,red salive, blood, bad_prompt_version2">
            </div>

            <!-- Seed -->
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Seed </label>
              <input type="text" class="form-control" id="seedInput" placeholder="-1">
            </div>

            <!--CFG-->
            <label for="customRange1" class="form-label">CFG: <span id="cfg-value">7</span></label>
            <input type="range" class="form-range" min="0" max="14" id="customRange1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FAQ Section -->
  <div class="container">
    <div class="FAQ">
      <div class="row">
        <div class="col-md-12 ">
          <h2 class="mb-4">FAQ</h2>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                What are some tips for good images?
              </h5>
            </div>
            <div class="card-body">
              <p class="mb-0">Make sure to include their full name when generating
                for best results! EX: Sonic -> 'Sonic the hedgehog', Tails -> 'Tails the fox'. The model was trained on
                booru tags, using them allows you make your image much for specific.</p>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header">
              <h5 class="mb-0">
                What characters can I generate?
              </h5>
            </div>
            <div class="card-body">
              <p class="mb-0">Curent list is as follows.

              <div class="row">
                <div class="col col-md-4">
                  <ul>
                    <li>Sonic the hedgehog</li>
                    <li>Amy Rose</li>
                    <li>Tails the fox</li>
                    <li>Knuckles the echidna</li>
                    <li>Rouge the bat</li>
                    <li>Sticks the badger</li>
                    <li>Marine the Raccoon</li>
                    <li>Jet the hawk</li>
                  </ul>
                </div>
                <div class="col col-md-4">
                  <ul>
                    <li>Whisper the wolf</li>
                    <li>Silver the hedgehog</li>
                    <li>Blaze the cat</li>
                    <li>Vanilla the rabbit</li>
                    <li>Cream the rabbit</li>
                    <li>Charmy the bee</li>
                    <li>Espio the chameleon</li>
                    <li>Vector the crocodile</li>
                  </ul>
                </div>
                <div class="col col-md-4">
                  <ul>
                    <li>Shadow the hedgehog</li>
                    <li>Sally Acorn</li>
                    <li>Tangle the lemur</li>
                    <li>Mobian (Original characters in sonic style basically!)</li>
                    <li>Cosmo the seedrian</li>
                    <li>Tikal the echidna</li>
                    <li>Honey the cat</li>
                    <li>Bunnie Rabbot</li>
                  </ul>
                </div>
              </div>
              </p>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header">
              <h5 class="mb-0">
                What is a negative prompt?
              </h5>
            </div>
            <div class="card-body">
              <p class="mb-0">A negative prompt tells the model what it should avoid including in the picture. By
                default
                a decent negative prompt is added to the prompt, so this should avoid being changed unless you know what
                you're doing.</p>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header">
              <h5 class="mb-0">
                What is a seed?
              </h5>
            </div>
            <div class="card-body">
              <p class="mb-0">By default a random seed is sent when generating an image, this means if you send the
                same prompt twice, you will get different results. If you set the seed to a specific value, you will
                countinously get the same set of images.</p>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header">
              <h5 class="mb-0">
                What is CFG?
              </h5>
            </div>
            <div class="card-body">
              <p class="mb-0">CFG refers to how closely a image tries follow to a prompt, too high values may fry images, while
                too low of a value will result in a random mess of a photo being generated. By default 7 is used but
                this can be experimented with</p>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header">
              <h5 class="mb-0">
                Can I run this locally on my PC?
              </h5>
            </div>
            <div class="card-body">
              <p class="mb-0">Yep! Model is available to use in stable diffusion here <a
                  href="https://civitai.com/models/1493">https://civitai.com/models/1493</a></p>
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-header">
              <h5 class="mb-0">
                Support
              </h5>
            </div>
            <div class="card-body">
              <p class="mb-0">Hi there! I'm a big fan of AI and Sonic, so why not combine the two? As someone who never
                had the mind to express themselves artistically, AI art has opened up a whole new world for me and I'd
                like to be able to share that openly for every sonic fan to express themselves!

              <p><p></p>

                Hosting a website and AI model isn't cheap, especially as the user base grows and hardware requirements
                go up so I'm hoping to be able to keep this site up as long as I'm financially able to.
              </p>
              <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                data-name="bmc-button" data-slug="pablocastr6" data-color="#5F7FFF" data-emoji="" data-font="Cookie"
                data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff"
                data-coffee-color="#FFDD00"></script>
              <a href="https://www.patreon.com/bePatron?u=37673970"
                data-patreon-widget-type="become-patron-button">Become a Patron!</a>
              <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
              </p>
            </div>
          </div>
          <!-- Add more questions and answers as needed -->
        </div>
      </div>
    </div>
  </div>
  </div>

  <script>
    let expanded = false;
    let currentImage = null;
    let expanded_image_id = null;

    function expandImage(imageId, closeButtonId) {
      if (expanded) return;
      expanded = true;

      // Hide all except selected image
      switch (imageId) {
        case 'img-top-left':
          document.getElementById('img-top-right').style.display = 'none';
          document.getElementById('img-bottom-left').style.display = 'none';
          document.getElementById('img-bottom-right').style.display = 'none';
          break;

        case 'img-top-right':
          document.getElementById('img-top-left').style.display = 'none';
          document.getElementById('img-bottom-left').style.display = 'none';
          document.getElementById('img-bottom-right').style.display = 'none';
          break;

        case 'img-bottom-left':
          document.getElementById('img-top-left').style.display = 'none';
          document.getElementById('img-top-right').style.display = 'none';
          document.getElementById('img-bottom-right').style.display = 'none';
          break;

        case 'img-bottom-right':
          document.getElementById('img-top-left').style.display = 'none';
          document.getElementById('img-top-right').style.display = 'none';
          document.getElementById('img-bottom-left').style.display = 'none';
          break;
      }

      expanded_image_id = imageId;
      const image = document.getElementById(imageId);
      const closeButton = document.getElementById(closeButtonId);

      image.classList.add('expanded-image');
      closeButton.style.display = 'block';

      currentImage = image;

      // Set the width and height of the expanded image to match the container depending on if on mobile or not
      if (window.innerWidth < 1000) {
        image.style.width = '100vw';
        image.style.height = 'auto%';
      } else {
        image.style.width = 'auto';
        image.style.height = 'auto';
      }

    }

    function collapseImage(closeButtonId) {
      if (!expanded) return;
      expanded = false;

      const image = document.getElementById(expanded_image_id);
      const closeButton = document.getElementById(closeButtonId);

      image.classList.remove('expanded-image');
      closeButton.style.display = 'none';

      // Reset the width and height of the collapsed image
      currentImage.style.width = '';
      currentImage.style.height = '';

      resetAllImageDisplays();
    }

    // Allows us to see the images that are generated
    const resetImageDisplay = (imageId) => {
      const imageElement = document.getElementById(imageId);
      imageElement.style.display = 'block';
    };

    // Unhide all images
    const resetAllImageDisplays = () => {
      resetImageDisplay('img-top-left');
      resetImageDisplay('img-top-right');
      resetImageDisplay('img-bottom-left');
      resetImageDisplay('img-bottom-right');
    };

    // Hide all images
    const hideAllImages = () => {
      document.getElementById('img-top-left').style.display = 'none';
      document.getElementById('img-top-right').style.display = 'none';
      document.getElementById('img-bottom-left').style.display = 'none';
      document.getElementById('img-bottom-right').style.display = 'none';
    };

    // update image box ratio
    const changeAspectRatio = () => {
      const selectElement = document.getElementById('floatingSelect');
      const selectedOption = selectElement.options[selectElement.selectedIndex].value;
      const imageGrid = document.querySelector('.image-grid');
      const imageGrid_mobile = document.querySelector('.image-grid-mobile');
      let isMobileView = window.matchMedia('(max-width: 1200px)').matches;

      switch (selectedOption) {
        case '1':
          // Landscape
          if (isMobileView) {
            imageGrid_mobile.style.width = '100vw';
            imageGrid_mobile.style.height = '66vw';
            imageGrid_mobile.style.aspectRatio = '2/1';
          } else {
            imageGrid.style.width = '768px';
            imageGrid.style.height = '512px';
          }
          break;
        case '2':
          // Square
          if (isMobileView) {
            imageGrid_mobile.style.width = '100vw';
            imageGrid_mobile.style.height = '100vw';
          } else {
            imageGrid.style.width = '512px';
            imageGrid.style.height = '512px';
          }
          break;
        case '3':
          // Portrait
          if (isMobileView) {
            imageGrid_mobile.style.width = '100vw';
            imageGrid_mobile.style.height = '150vw';
          } else {
            imageGrid.style.width = '512px';
            imageGrid.style.height = '768px';
          }
          break;
        default:
          if (isMobileView) {
            imageGrid_mobile.style.width = '1024px';
            imageGrid_mobile.style.height = '1536px';
          } else {
            imageGrid.style.width = '512px';
            imageGrid.style.height = '768px';
          }
      }

      hideAllImages();
    };

    document.getElementById('customRange1').addEventListener('input', function (event) {
      document.getElementById('cfg-value').textContent = event.target.value;
    });

    // Send the request to the server for generated images
    document.getElementById('button-addon2').addEventListener('click', async function () {
      // Disable the generate button until result is returned
      document.getElementById('button-addon2').disabled = true;

      // Hide images
      hideAllImages();

      // Show loading bar
      document.getElementById("loading-container").classList.remove("d-none");
      // Fetch user's position in the queue periodically
      document.getElementById("queue-position").innerText = `Generating Image... Please wait`;

      // Set the width and height of the expanded image to match the container
      let imageWidth;
      let imageHeight;
      let model;

      const selectElement = document.getElementById('floatingSelect');
      const selectedOption = selectElement.options[selectElement.selectedIndex].value;
      switch (selectedOption) {
        case '1':
          imageWidth = 768; // Landscape
          imageHeight = 512;
          model = "Metal079--SonicDiffusionV3-Beta__768x512x4"
          break;
        case '2':
          imageWidth = 512;
          imageHeight = 512; // Square
          model = "Metal079--SonicDiffusionV3-Beta__512x512x4"
          break;
        case '3':
          imageWidth = 512; // Portrait
          imageHeight = 768;
          model = "Metal079--SonicDiffusionV3-Beta__512x768x4"
          break;
        default:
          imageWidth = 512;
          imageHeight = 768;
          model = "Metal079--SonicDiffusionV3-Beta__512x768x4"
      }

      const payload = {
        "data": {
          "prompt": document.getElementById('prompt-input').value,
          "steps": 20,
          "negative_prompt": document.getElementById('formGroupExampleInput').value || "EasyNegative, (worst quality, low quality, normal quality:1.4), bad anatomy, bad body, bad feet, bad hands, bad proportions, blurry, cropped, cross-eyed, deformed, error, extra arms, extra digit, extra fingers, extra legs, extra limbs, extra digit, fewer digits, fused fingers, gross proportions, jpeg artifacts, long neck, long body, lowres, malformed limbs, missing arms, missing fingers, missing legs, mutated hands, mutation, polar lowres, poorly drawn face, poorly drawn hands, pubic hair, signature, text, too many fingers, username, watermark,red salive, blood, bad_prompt_version2",
          "seed": Number(document.getElementById('seedInput').value) || Math.floor(Math.random() * 999999),
          "cfg_scale": Number(document.getElementById('customRange1').value) || 7,
          "batch_size": 4,
          "save_images": true,
          "width": imageWidth || 512,
          "height": imageHeight || 768,
          "scheduler": 7
        },
        "model": model
      }

      // Call auto1111 API
      const response = await fetch('process_json', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      });

      // Handle the API response
      if (response.ok) {
        const data = await response.json(); // Parse the JSON response
        const base64Images = data.images;

        // When the image is retrieved, hide the loading bar and queue
        document.getElementById("loading-container").classList.add("d-none");

        // Set the src attribute of the image elements to the base64-encoded images
        document.getElementById('img-top-left').src = 'data:image/png;base64,' + base64Images[0];
        document.getElementById('img-top-right').src = 'data:image/png;base64,' + base64Images[1];
        document.getElementById('img-bottom-left').src = 'data:image/png;base64,' + base64Images[2];
        document.getElementById('img-bottom-right').src = 'data:image/png;base64,' + base64Images[3];

        // Unhide the images and enable generate button
        resetAllImageDisplays();
        document.getElementById('button-addon2').disabled = false;
      } else {
        console.error(`Error: ${response.status}`); // Handle the error
      }
    });

  </script>
</body>

</html>